[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/CandyShop
[access "refs/for/refs/*"]
	read = group user/CandyShop
	push = group user/CandyShop
	label-Code-Review = -2..+2 group user/CandyShop
	label-Verified = -1..+1 group user/CandyShop
	rebase = group user/CandyShop
	removeReviewer = group user/CandyShop
	submit = group user/CandyShop
[access "refs/heads/*"]
	read = group user/CandyShop
	create = group user/CandyShop
	push = +force group user/CandyShop
	pushMerge = group user/CandyShop
[access "refs/tags/*"]
	push = +force group user/CandyShop
	pushTag = group user/CandyShop
	pushSignedTag = group user/CandyShop
